.loader {
    width: 48px;
    height: 48px;
    border-width: 3px;
    border-style: dashed solid solid dotted;
    border-color: #00a2ff #00a2ff transparent #00a2ff;
    border-radius: 50%;
    display: none;
    position: relative;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    margin: 20px auto;
}

.loader::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 20px;
    top: 31px;
    border: 10px solid transparent;
    border-right-color: #00a2ff;
    transform: rotate(-40deg);
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loader.visible {
    display: block;
}


.loader.visible {
    display: block;
}